<div class="checkout-container">
    <div class="checkout-grid" *ngIf="deliveryData">
        <div class="confirmation-details">
            <div class="card-checkout">
                <h3><i class="fa-solid fa-box-open"></i> Produtos do Pedido</h3>
                <div class="items-list">
                    <div class="items-row" *ngFor="let item of items$ | async">
                        <div class="item-name">
                            <span class="quantity">{{ item.quantity }}x</span>{{ item.name }}
                        </div>
                        <span class="item-price">{{(item.price * item.quantity) | currency:'BRL'}}</span>
                    </div>
                </div>    
            </div>

            <div class="card-checkout">
                <h3><i class="fa-solid fa-map-location-dot"></i> Logística de Entrega</h3>
                <div class="info-group">
                    <p class="label">Metodo de Entrega:</p>
                    <p class="value">
                        {{ deliveryData.deliveryMethod === 'DELIVERY' ? 'Entrega' : 'Retirada'}}
                    </p>
                </div>
                <div class="info-group" *ngIf="deliveryData.deliveryMethod === 'DELIVERY'">
                    <p class="label">Endereço</p>
                    <p class="value">{{deliveryData.adress}}</p>
                </div>
            </div>
        </div>

        <app-order-summary 
            [totalPrice] = "totalPrice"
            buttonText="Enviar Pedido para Análise"
            [showAnalysisWarning]="true"
            [isButtonDisabled]="isSubmiting"
            [buttonIcon]="isSubmiting ? 'fa-spinner fa-spin' : ''"
            (actionClick)="confirmOrder()"
            [showBackButton]="true"
            backButtonText="Voltar e editar entrega"
            (backClick)="goBack()">
        </app-order-summary>

    </div>
</div>

