<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>Espaço Verde</h3>
      <p>Sua floricultura de confiança, trazendo natureza e beleza para sua vida desde 2017.</p>
    </div>

    <div class="footer-section">
      <h3>Links Rápidos</h3>
      <ul>
        <li><a routerLink="/home">Catálogo</a></li>

      </ul>
    </div>

    <div class="footer-section">
      <h3>Contato</h3>
      <p><i class="fas fa-map-marker-alt"></i> Rua Expedicionario José Machowski, 23, Rio Azul - Paraná</p>
      <p><i class="fas fa-phone"></i> (42) 99105-7267</p>
      <p><i class="fas fa-envelope"></i> contato&#64;espacoverde.com</p>
    </div>

    <div class="footer-section">
      <h3>Horário de Funcionamento</h3>
      <p>Segunda a Sexta: 8:30h às 18h</p>
      <p>Sábados: 8:30h às 11:30h</p>
    </div>
  </div>

  <div class="copyright">
    <p>&copy; 2026 Espaço Verde - Todos os direitos reservados</p>
  </div>
</footer>