<header>
  <div class="header-container">
    <div class="logo">
      <i class="fas fa-leaf"></i>
      <h1>Espaço Verde</h1>
    </div>

    <nav>
      <ul>
        <li><a routerLink="/home">Início</a></li>
        <li><a routerLink="/admin">Admin</a></li>
        <li><a routerLink="/cadastro">Contato</a></li>
        <li><a routerLink="/cadastro">Promoções</a></li>
      </ul>
    </nav>

    <div class="header-actions">
      <div class="user-area">
        <ng-container *ngIf="(isLoggedIn$ | async) === false">
          <button routerLink="/login" class="login-btn">Entrar</button>
          <button routerLink="/register" class="register-btn">Cadastre-se</button>
        </ng-container>

        <ng-container *ngIf="isLoggedIn$ | async">
          <button routerLink="/perfil" class="profile-btn">Meu Perfil</button>
          <button (click)="logout()" class="logout-btn">Sair</button>
        </ng-container>
      </div>
    </div>
  </div>
</header>