<header>
  <div class="header-container">
    <div class="logo">
      <i class="fas fa-leaf"></i>
      <h1>Espaço Verde</h1>
    </div>

    <nav>
      <ul>
        <li><a routerLink="/home">Início</a></li>
        <li><a routerLink="/cadastro">Sobre</a></li>
        <li><a routerLink="/cadastro">Contato</a></li>
        <li><a routerLink="/cadastro">Promoções</a></li>
      </ul>
    </nav>

    <div class="header-actions">
      <button><i class="fas fa-search"></i></button>
      <button><i class="fas fa-shopping-cart"></i></button>
      <button class="login-btn" (click)="navigateTo('login')">Entrar</button>
    </div>
  </div>
</header>