<section class="storage-header">

  <div class="storage-filters">

  </div>
  <div class="register">
    <button class="register-btn" routerLink="/admin/cadastro"> <i class="fa-regular fa-clipboard"></i>Cadastrar Produtos</button>
  </div>

</section>

  <hr class="divider">

<section class="products">
  <div class="product-grid">
    <app-storage-product-card
      *ngFor="let p of products"
      [product] = "p"
      (selectedProduct) = "selectProduct($event)">
    </app-storage-product-card>
  </div>
</section>

<div *ngIf="modalToggle" class="modal">
  <app-delete-modal 
      [product]="selectedProduct"
      (closeModal) = "modalToggle = false"
      (excludeSucess) ="loadProducts()">    
  </app-delete-modal>
</div>