<div class="profile-container">

  <header class="profile-header">
    <h2>Minha Conta</h2>

    <nav class="profile-tabs">
      <button [class.active]="activeTab === 'info'" (click)="activeTab = 'info'">
        <i class="fa-solid fa-address-card"></i> Meus Dados
      </button>

      <button [class.active]="activeTab === 'orders'" (click)="activeTab = 'orders'">
        <i class="fa-solid fa-box"></i> Meus Pedidos
      </button>

      <div class="spacer"></div>

    </nav>
  </header>


  <main class="profile-content">
    <div *ngIf="activeTab === 'info'" class="fade-in">
      <app-user-profile-info></app-user-profile-info>
    </div>

    <div *ngIf="activeTab === 'orders'" class="fade-in">
      <app-user-order-list></app-user-order-list>
    </div>
  </main>

</div>