<div class="ev-card categories-card">
    <div class="ev-card-header flex-header">
        <h3 class="ev-card-title">Categorias de Margem</h3>
    </div>

    <div class="categories-list">
        <div class="category-item" *ngFor="let category of pricingCategories; let i = index">

            <div class="category-info">
                <h4>Categoria {{ i + 1 }}: <span>{{ category.name }}</span></h4>
            </div>

            <div class="category-input-group">
                <label>Margem de Lucro Alvo</label>
                <div class="input-with-suffix">
                    <input type="number" class="ev-input margin-input" [(ngModel)]="margins[category.id]"
                        (blur)="onInputBlur()" placeholder="Ex: 15">
                    <span class="suffix">%</span>
                </div>
            </div>

        </div>
    </div>
</div>