<div class="card" [routerLink] = route>
    <div class="image-container">
        <img [src]="baseImageUrl + product.imagem"
             [alt]="product.nome">
    </div>
    <div class="card-body">
        <div class="header">
            <h3>{{product.nome}}</h3>
            <ng-content select=".storage-info"></ng-content>
        </div>
        <p class="product-category">{{product.tipo}}</p>
        <p class="product-price">{{product.preco | currency:'BRL'}}</p>
        <ng-content></ng-content>
    </div> 
</div>