<div class="orders-container">
  
  <div *ngIf="orders.length === 0" class="empty-state">
    <i class="fa-solid fa-box-open"></i>
    <h3>Nenhum pedido encontrado</h3>
    <p>Você ainda não realizou nenhuma compra conosco.</p>
    <button class="btn-shop" routerLink="/">Ir para a loja</button>
  </div>

  <div class="orders-list" *ngIf="orders.length > 0">
    
    <div class="order-section" *ngFor="let order of orders">
      
      <app-user-order-card
      [order]="order"
      [route]="'order/'+order.id!"
      >  
      </app-user-order-card>
    </div>

  </div>
</div>