<aside class="sidebar" [class.expanded]="isExpanded">

    <div class="top">
        <button class="btn-toggle" (click)="toggleSidebar()" aria-label="Toggle Sidebar">
            <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
    </div>

    <div class="menu">
        <div class="menu-itens">
            <a class="menu-item" title="Dashboard" routerLink="/admin/dashboard">
                <i class="fa-solid fa-chart-bar"></i><span class="menu-text"> Dashboard</span>
            </a>
        </div>
        <div class="menu-itens">
            <a class="menu-item" title="Estoque" routerLink="/admin/estoque">
                <i class="fa-solid fa-barcode"></i><span class="menu-text"> Estoque</span>
            </a>
        </div>
        <div class="menu-itens">
            <a class="menu-item" title="Pedidos" routerLink="/admin/orders">
                <div class="icon-container">
                    <i class="fa-solid fa-box-open"></i>
                    <span class="notification-badge" *ngIf="orderCount > 0">
                        {{ orderCount }}
                    </span>

                </div>
                <span class="menu-text"> Pedidos</span>
            </a>
        </div>
        <div class="menu-itens">
            <a class="menu-item" title="Precificação" routerLink="/admin/pricing">
                <i class="fa-solid fa-tags"></i><span class="menu-text"> Precificação</span>
            </a>
        </div>
        <div class="menu-itens">
            <a class="menu-item" title="Relatórios" routerLink="/admin/reports">
                <i class="fa-solid fa-chart-line"></i><span class="menu-text"> Precificação</span>
            </a>
        </div>
    </div>

    <div class="bottom">
        <div class="menu-itens">
            <a class="menu-item" title="Pagina inicial" routerLink="/home">
                <i class="fa-solid fa-home"></i><span class="menu-text"> Pagina inicial</span>
            </a>
        </div>
        <button class="logout-btn" title="Sair" (click)="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i><span class="menu-text"> Logout</span>
        </button>
    </div>
</aside>