<aside class="sidebar" [class.expanded]="isExpanded" (click)="toggleSidebar()">
    
    <div class="top">
        <p>Ainda nao temos nada aqui</p>
    </div>

    <div class="menu">
        <div class="menu-itens">
            <a class="menu-item" title="Estoque">
                <i class="fa-solid fa-barcode"></i><span class="menu-text"> Estoque</span>
            </a>    
        </div>
    </div>

    <div class="bottom">
        <button class="logout-btn" title="Sair">
            <i class="fa-solid fa-arrow-right-from-bracket"></i><span class="menu-text"> Logout</span>
        </button>
    </div>
</aside>