<aside class="sidebar" [class.expanded]="isExpanded">

    <div class="top">
        <button class="btn-toggle" (click)="toggleSidebar()" aria-label="Toggle Sidebar"> 
            <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
    </div>

    <div class="menu">
        <div class="menu-itens">
            <a class="menu-item" title="Estoque" routerLink="/admin/estoque">
                <i class="fa-solid fa-barcode"></i><span class="menu-text"> Estoque</span>
            </a>    
        </div>
    </div>

    <div class="bottom">
        <button class="logout-btn" title="Sair" (click)="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i><span class="menu-text"> Logout</span>
        </button>
    </div>
</aside>