@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --primary-font: 'Inter', sans-serif;
  --sidebar-width: 0px;
  --header-height: 101px;
}

body {
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #2c3e50;
}

input, button, select, textarea {
  font-family: inherit;
}

.header-container{
  height: var(--header-height);
}

.admin-layout{
  padding-top: var(--header-height);
}

footer {
  margin-left: var(--sidebar-width);
  transition: margin-left 0.3s ease;
}