/* You can add global styles to this file, and also import other style files */
:root {
  --sidebar-width: 0px;
  --header-height: 101px;
}

.header-container{
  height: var(--header-height);
}

.admin-layout{
  padding-top: var(--header-height);
}

footer {
  margin-left: var(--sidebar-width);
  transition: margin-left 0.3s ease;
}