<div class="dashboard-container">
  <section class="content-cards">
    <div class="card-grid">
      <app-dashboard-card 
        title="Estoque"
        background="api/img/estoque.jpg"
        route = "/admin/estoque">
      </app-dashboard-card>
      
      <app-dashboard-card
        title="Pedidos"
        background="api/img/entrega.jpg"
        route="/admin/orders">
      </app-dashboard-card>

      <app-dashboard-card
        title="Precificação"
        background="api/img/precificacao.webp"
        route="/admin/pricing">
      </app-dashboard-card>
      
      <app-dashboard-card
        title="Relatórios"
        background="api/img/relatorios.jpg"
        route="/admin/reports">
      </app-dashboard-card>
    </div>
  </section>
</div>